.circle{
  border-radius: 0 !important;
  height: 70px !important;
  width: 70px !important;

}

.image-holder{
  margin-right: 20px !important;
}

.info-holder{
  margin-left: 50px;
}

.title{
  margin-left: 10px;
}
