<div class="header-wrapper">
  <h1 class="header center white-text text-lighten-2">Change order status</h1>
</div>
<div class="text-wrapper">
  <p><b>Please fill the order status below:</b></p>
</div>
<br/>
<form class="col s10 offset-s1" (ngSubmit)="updateStatus()">
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <div class="col-sm-4 ">
        <i class="material-icons">access_time</i> Username
        <input type="text" class="form-control" id="newOrderStatus" placeholder="Enter order status" required name="newOrderStatus" [(ngModel)]="newOrderStatus" value="{{newOrderStatus}}">
      </div>
    </div>
  </div>
  <div class="row center">
    <span class="center"><b>Note: </b>Please enter a valid order status ( <b class="red-text">Awaiting delivery</b> / <b class="red-text">Delivering</b> / <b class="red-text">Complete</b> )</span>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 center">
      <button type="reset" class="btn btn-default grey" (click)="getBack()">Back</button>
      <button type="submit" class="btn btn-primary green">Update Order Status</button>
    </div>
    <br><br>
  </div>
</form>
