<div class="content row">
  <span class="col s4">
    <img src="https://lh3.google.com/u/0/d/1Am00Y_16SelZxbSI0rBQ6fOkh6R83zzr=w1920-h959-iv1" alt="404 Picture">
  </span>
  <span class="col s8 offset-s4 center white-text">
    <h1 class="infoHeader">404: Not Found</h1>
    <p class="infoText">
     Some of our workers decided to go on vacation and forgot to finish this page..
    </p>
    <button type="submit" class="btn btn-primary blue" (click)="getBack()">Return to previous page</button>
  </span>
</div>
<div class="row sleep">
  <span class="col s5 offset-s1 center white-text">
    <h1 class="center">An actual footage of one of the developers</h1>
    <p class="bigger-text">
     We promise he will complete this page after he wakes up! Until then, you can explore our catalog and buy him a more comfortable bed than his desk.
    </p>
    <button type="submit" class="btn btn-primary orange"><a class="white-text" routerLink="/catalog">Explore our store</a></button>
  </span>
  <img class="sleeping-dev right" src="https://lh3.google.com/u/0/d/1QO74pn0OAh2Y6NNfPUeWgnEG-9vGMmYP=w1920-h959-iv1" alt="404 Picture">
</div>

