<h1>Add New Movie</h1>
<div class="container">
    <form action="/addGenre" method="POST" enctype="multipart/form-data">
        <label for="genreName">Title</label>
        <input type="text" id="genreName" name="genreName" placeholder="The title of the genre">

        <input type="submit" value="Submit">

    </form>
</div>

{{#if status}}
    <div id="succssesBox"><h2 id="succssesMsg">Genre Added</h2></div>
{{/if}}