<h1>Add New Movie</h1>
<div class="container">
    <form action="/addMeme" enctype="multipart/form-data" method="POST">
        <label for="memeName">Name</label>
        <input type="text" id="memeName" name="memeName" placeholder="The title of the movie">

        <select name="genreSelect" id="genreSelect">
            {{#each tags}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <label for="moviePoster">Poster URL</label>
        <input type="text" id="moviePoster" name="memeURL" placeholder="Meme source (url)">
        
        <label for="movieDescription">Movie description</label>
        <textarea id="movieDescription" name="memeDescription" placeholder="Movie description" rows="10" cols="10"></textarea>

        <input type="submit" value="Submit">

    </form>
</div>

{{#if status}}
    <div id="succssesBox"><h2 id="succssesMsg">Meme Added</h2></div>
{{/if}}
