<h1>Search Memes</h1>
<div class="container">
    <form action="/searchMeme" method="POST" enctype="multipart/form-data">
        <label for="memeTitle">Title</label>
        <input type="text" id="memeTitle" name="memeTitle" placeholder="The title of the meme">

        <select name="genreSelect" id="genreSelect">
            <option value="all">all</option>
            {{#each options}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <input type="submit" value="Submit">

    </form>
</div>