<div class="header-wrapper">
    <h1 class="header-content">About <b>"Hotelpedia"</b></h1>
</div>
<div class="container" style="text-align: center">
        <p class="info"><b>Hotelpedia</b> is a website for listing and giving information about various hotels in the world. </p><br>
        <a class="button" href="/list?page=1" style="text-decoration: none;">View All Hotels</a>
        <a class="button" href="/addHotel" style="text-decoration: none;">Add Hotel</a>
</div>
