<div class="header-wrapper">
  <h1 class="header center white-text text-lighten-2">Manage orders</h1>
</div>
<div class="text-wrapper">
  <p><b>Change orders' statuses here:</b></p>
</div>
<div class="container">
  <div class="row" *ngIf="!isPageLoaded">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
  <div class="row" *ngIf="isPageLoaded && myOrders.length === 0 ">
    <p class="red-text center">No orders available.</p>
  </div>
  <ul class="collection" *ngFor="let order of myOrders">
    <app-single-order [order]="order" [canEdit]="true"></app-single-order>
  </ul>
</div>
