.item-wrapper{
  height: 350px !important;
  margin-bottom: 20px;
}

.card-image-min{
  height: 306px !important;
}

.card-image{
  height: 306px !important;
}

.align-content-center{
  text-align: center;
}

span.tags{
  color: dodgerblue !important;
  font-weight: bold;
  font-style: italic ;
}

.card{
  margin: 0;
}

.details-btn{
  margin-right: 50px;
}

