<div class="col s6 item-wrapper ">
  <div class="card horizontal hoverable">
    <div class="card-image" *ngIf="item.imageUrl">
      <img class="activator card-image-min" src="{{item.imageUrl}}" alt="{{item.name}}">
    </div>
    <div class="card-image" *ngIf="!item.imageUrl">
      <img class="activator card-image-min"
           src="https://lh3.google.com/u/0/d/1Q8qvS_w_DeskDCxyQIQ8J7MYxF0GtQ97=w1920-h959-iv1" alt="{{item.name}}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h5><b>{{item.name}}</b></h5>
        <b>Description: </b>
        <p>{{item.description}}</p>
        <b>Price: </b>
        <p>${{item.price}}</p>
        <b>Category: </b>
        <span class="tags" *ngFor="let tag of item.category">
          #{{tag}}
        </span>
      </div>
      <div class="card-action">
        <p *ngIf="permissions">
          <a class="white-text" routerLink="/items/details/{{item._id}}"><button type="submit" class="btn btn-primary green details-btn">Details</button></a>
        </p>
        <p *ngIf="!permissions">
          <a class="red-text" routerLink="/login">Please log in to see details</a>
        </p>
      </div>
    </div>
  </div>
</div>
