<div class="header-wrapper">
    <h1 class="header-content">Add new category</h1>
</div>
<div class="login-page">
  <div class="form container">
    <form action="/addCategories" method="POST" class="create-form">
      <input type="text" name='title' placeholder="Category name"  required/>

      <button type="submit">Create Category</button>
    </form>
  </div>
</div>